<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="static/css/index.css">
  <style>
    label{
      color:#797e84
    }
  </style>

</head>
<body style="background-color: #191b1f;color:#797e84 ">
  <div id="app">
    <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
      <el-tab-pane label="用户管理" name="first" >
        <el-row>
          <el-col :span="4">
            <div> hunt</div>
            <div class="block">
              <el-slider v-model="value" :max="maxValue" :show-tooltip="showTooltip"
                         :marks="marksY" vertical height="300px" :step="10"
                         width="150px" show-stops style="top:20px" v-on:change="changeY(value)">
              </el-slider>
              <el-slider v-model="value2" :max="maxValue" :show-tooltip="showTooltip"
                         :step="10" style="height: 100px;"
                         :marks="marksX" show-stops v-on:change="changeX(value2)">
              </el-slider>
              <div><img src="static/imgs/label.png" style="width: 262px;height: 77px;"/></div>
            </div>
          </el-col>
          <el-col :span="20">
              <div>
                <video :src="moveName" controls autoplay muted style="height: 600px;width: 100%"></video>
              </div>
          </el-col>
        </el-row>

      </el-tab-pane>
      <el-tab-pane label="配置管理" name="second">配置管理</el-tab-pane>
      <el-tab-pane label="角色管理" name="third">角色管理</el-tab-pane>
      <el-tab-pane label="定时任务补偿" name="fourth">定时任务补偿</el-tab-pane>
    </el-tabs>
  </div>
</body>
<script src="static/js/vue.js"></script>
<script src="static/js/index.js"></script>
  <script>
    var valueX="重演";
    var valueY="virtual";
    new Vue({
      el: '#app',
      data: function() {
        return {
          activeName: 'first',
          showTooltip:false,
          value:10,
          value2: 10,
          moveName:"static/moves/"+valueY+"-"+valueX+".mp4",
          maxValue:50,
          marksY:{
            10: 'virtual',
            20: 'future',
            30: 'modern',
            40: 'formerly',
          },
          marksX:{
            10: '重演',
            20: '挪用',
            30: '混合',
            40: '重置',
          },

        }
      },

      methods:{
        handleClick:function () {

        },
        //Y轴改变
        changeY:function (e) {
         if(e==10){ valueY="virtual"};
         if(e==20){ valueY="future"};
         if(e==30){ valueY="modern"};
         if(e==40){ valueY="formerly"};
         console.log(valueY+"-"+valueX+".mp4");
         var name="static/moves/"+valueY+"-"+valueX+".mp4";
         this.$data.moveName=name;

        },
        //X轴改变
        changeX:function (e) {
          if(e==10){ valueX="重演"};
          if(e==20){ valueX="挪用"};
          if(e==30){ valueX="混合"};
          if(e==40){ valueX="重置"};
          console.log(valueY+"-"+valueX+".mp4");
          var name="static/moves/"+valueY+"-"+valueX+".mp4";
          this.$data.moveName=name;
        },
      }

    })
  </script>
</html>
